<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sleep Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sleep Tracker</ion-title>
    </ion-toolbar>
  </ion-header>

  <a href="sleep-logger"> <!--bind to appropriate route for sleep logger-->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Log Sleep</ion-card-title>
        <ion-card-subtitle>Ready to log your sleep?</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Help us help you by sharing how much zzZ you got last night.
      </ion-card-content>
    </ion-card>
  </a>

  <a href="#"> <!--bind to appropriate route for sleepiness logger-->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Log Sleepiness</ion-card-title>
        <ion-card-subtitle>Feeling sleepy?</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Let us know when you're feeling sleepy in your digital diary.
      </ion-card-content>
    </ion-card>
  </a>
</ion-content>

