<ion-header>
  <ion-toolbar>
    <a href="/home" slot="start" class="backButton">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </a>
    <ion-title>
      Sleepiness Logger
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <p>Your Digital Diary for recording your sleepiness throughout each day</p>
  <label for="diary-date" style="display: block;">Select a date:</label>
  <input [(ngModel)]="entryDate" type="date" id="diary-date" required (ngModelChange)="getSleepiness()" > <!--load entries based on date, set default date to current date-->
  <p>Sleepiness History</p>
  <div class="sleepiness-history" *ngIf="entries">
    <div class="entry-list">
      <ion-card *ngFor="let entry of entries"> <!--loop through entries and create card for each entry-->
        <ion-card-header>
          <ion-card-subtitle>{{entry["title"]}}</ion-card-subtitle>
          <ion-card-subtitle>{{entry["sleepiness"]}}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>
  </div>
  <div *ngIf="!entries">
    <ion-card>
      <ion-card-content>
        Nothing here yet... tap the button below to add a new entry
      </ion-card-content>
    </ion-card>
  </div>
  <ion-fab slot="fixed" horizontal="center" vertical="bottom">
    <ion-fab-button color="tertiary" expand="block" id="open-modal">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>New Entry</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">

        <!--text input for entry name-->
        <ion-item>
          <ion-label position="stacked">Entry Title</ion-label>
          <ion-input type="text" placeholder="ie. Before my morning coffee" [(ngModel)]="entryName"></ion-input>
        </ion-item>

        <!--radio input for sleepiness rating-->
        <ion-list>
          <ion-list-header>
            <ion-label>How sleepy do you feel?</ion-label>
          </ion-list-header>
          <ion-radio-group [(ngModel)]="sleepiness">
            <ion-item>
              <ion-label>1 - Feeling wide awake</ion-label>
              <ion-radio slot="end" value="1" color="tertiary"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>2 - Able to concentrate</ion-label>
              <ion-radio slot="end" value="2" color="tertiary"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>3 - Awake but not fully alert</ion-label>
              <ion-radio slot="end" value="3" color="tertiary"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>4 - Somewhat foggy</ion-label>
              <ion-radio slot="end" value="4" color="tertiary"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>5 - Slowed down</ion-label>
              <ion-radio slot="end" value="5" color="tertiary"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>6 - Woozy, prefer to lie down</ion-label>
              <ion-radio slot="end" value="6" color="tertiary"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>7 - Sleep onset soon, dream-like thoughts</ion-label>
              <ion-radio slot="end" value="7" color="tertiary"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
  <button (click)="logEntries()">log entries</button>
</ion-content>
